{{#if compact}}
    {{> slicey}}
{{else}}
    {{> bigger-banner}}
{{/if}}


<div id="content" class="container text-light">
    <h1 class="text-light pixel-font text-center m-5">Meet the Musicians</h1>
    <div id="ensemble-intro" class="fs-4 text-start">
        <h1 class="curly">A message from Justin:</h1>
        <p>
            What constitutes... mutability? In a band?
        </p>
        <p>
            Every time I take the stage (or at least, at each new stop on a tour); every time I put on cans in the
            studio, I feel a process of instantiation - a new instance of Band. Our setlist is unique each night; our
            arrangements and effects are often chosen (and signaled to one another) in the moment.
        </p>
        <p>
            In my journey to write logic that is the internet I want to see - from hacking together a viable
            battlestation for myself to play games with my kiddo, to legacy enterprise web apps, to custom dapps for
            this production, I have had many notions in my head (sometimes literally in my dreams) about mutability and
            its role in mapping the metaphor of the mind into a codebase, and particularly object orientation.
        </p>
        <p>
            Some of the most important friends I've made along the way are those who have chosen to play (and sometimes
            write) music with me.
        </p>
        <p>
            And their contributions don't seem to me to be a small part of some persistent monolith that belongs to me;
            instead, they feel each like their own distinct and complete creation.
        </p>
        <p>
            I hope you have enjoyed the shows and records that these folks have made with me as much as I've enjoyed
            their company, and I especially hope that you see fit to visit us again and contribute your ears and
            energies to the instantiation of new setlists and sounds.

        </p>
    </div>
    {{#each ensemble}}
        <div class="person-info row border-top border-2 border-black mt-2 pt-2">
            {{#if (isEven @index)}}
                <div class="row">
                    <h2 class="fs-1 bio-title">{{@key}}</h2>
                </div>
                <div class="row">
                    <div class="col-5">
                        <img src="{{resolveImage Photo }}"/>
                        <figcaption class="figure-caption text-white fs-5 bio-caption">{{Caption}}</figcaption>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-6 fs-4 person-bio">
                        {{safeHTML Description}}
                        {{Address}}
                    </div>
                </div>
            {{else}}
                <div class="row">
                    <div class="col-11">
                        <h2 class="fs-1 text-right bio-title">{{@key}}</h2>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-6 fs-4 person-bio">
                        {{safeHTML Description}}
                        {{Address}}
                    </div>
                    <div class="col-1"></div>
                    <div class="col-5 text-center">
                        <img class="w-100" src="{{resolveImage Photo }}"/>
                        <figcaption class="figure-caption text-white fs-5 bio-caption">{{Caption}}</figcaption>
                        <div class="col-1"></div>

                    </div>
                </div>
            {{/if}}

        </div>
    {{/each}}
    <hr>
    <h2>Bios to come:        </h2>
<ul>
<li>    Viv Ford</li>

<li>Kuba Hejhal</li>

<li>Jake Stargel</li>

<li>Jeff Fehlauer</li>

<li>Christian Ward</li>

<li>Dani Jaye</li>

<li>Shaka Lei Kaumaka</li>

<li>David Flores Pradillas</li>

<li>Allen Cooke</li>

<li>Yarda Vysoky</li>

    <li>And More...</li>

</ul>

</div>