{{#if compact}}
    {{> slicey}}
{{else}}
    {{> bigger-banner}}
{{/if}}


<div id="content" class="container text-light">
    <div class="accordion col-md-8 center">
        {{#each tour}}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button text-white bg-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{@index}}" aria-controls="collapse-{{@index}}">
                        {{locality}} - {{title}} - {{date}}
                    </button>
                    <div id="collapse-{{@index}}" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <h4>{{title}}</h4>
                            <p>{{host}}</p>
                            <p>{{date}}</p>
                            <p>{{time}}</p>
                            <p>{{venue}}</p>
                            <p>{{locality}}, {{region1}}</p>
                            <p><a href="{{event_url}}">{{event_url}}</a></p>
                        </div>
                    </div>

                </h2>

            </div>

        {{/each}}
    </div>
</div>