<div id="showOverview" class="border-bottom border-black pb-3 pixel-font">
    {{# if title_as_link}}<a href="/shows/{{show.artist_id}}-{{show.blockheight}}.html">{{/if}}<h1>{{show.title}} - {{show.locality}}</h1>{{# if title_as_link}}</a>{{/if}}
    <h4>Scheduled for Blockheight: {{numberWithCommas show.blockheight}} ({{blockToDate show.blockheight show.timezone}}
        )</h4>
    <span>Venue:</span> <b>{{show.venue}}</b><br>
    {{#if show.host}}
        <span>Host:</span> <b>{{show.host}}</b><br>
    {{/if}}
    <span>Locality:</span> <b>{{show.locality}}, {{show.region0}}</b><br>
    {{#if show.event_url}}
        <span>Event URL:</span> <a href="{{show.event_url}}">{{show.event_url}}</a><br>
    {{/if}}
</div>