<a href="/songs/{{song.slug}}.html"><h2>{{song.title}}</h2></a>
<ul>
    Played {{objectLength song.plays}} times:
    {{#each song.plays}}
        {{addShowFromPlayToContext}}
        <li>{{this._show.title}}{{#if this.as_title}} (as "{{this.as_title}}"){{/if}}
            {{#each this._set.setstones as |stone|}}
                <a href="/assets/images/setstones/{{stone.tokenId}}.png"><img class="stone-in-long-list"
                                                                              src="/assets/images/setstones/{{stone.tokenId}}.png"></a>{{/each}}
        </li>
    {{/each}}
</ul>