<!doctype html>

<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page_title }} | Justin Holmes</title>

    <meta name="description" content="{{#if
            meta_description }}{{ meta_description }}{{ else }}Justin Holmes: future-proofing old-timey music{{/if}}">

    <meta name="author" content="Justin Myles Holmes">
</head>

<body>
{{#if no_video_bg}}
{{else}}
    <video preload playsinline autoplay muted loop class="bg">
        <source src="{{resolveImage 'nsf-background.mp4'}}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
{{/if}}

<div class="bg tiles"></div>


<div class="contentOnTopOfVideo">

    {{{main_block}}}

    <nav id="footer" class="mt-3 nav nav-fill justify-content-center flex-column flex-sm-row">

        <a class="p-0 nav-link" target="_blank" href="https://discord.gg/B8rEXkSAJ4">
            <img class="mt-2" src="{{resolveImage 'social-logos/discord.png'}}"/>
        </a>

        <a class="p-0 nav-link" target="_blank" href="https://github.com/jMyles">
            <img src="{{resolveImage 'social-logos/Octocat.png'}}"/>
        </a>

        <a class="p-0 nav-link" target="_blank" href="https://justinholmes.bandcamp.com/">
            <img src="{{resolveImage 'social-logos/bandcamp-button-bc-circle-green-256.png'}}"/>
        </a>

        <a class="p-0 nav-link" target="_blank" href="https://open.spotify.com/artist/2ThESMbZDNeAi02dpZZncE">
            <img src="{{resolveImage 'social-logos/Spotify_Icon_RGB_Green.png'}}"/>
        </a>

        <a class="p-0 nav-link" target="_blank" href="https://twitter.com/vowelsoundmode">
            <img src="{{resolveImage 'social-logos/x-white.png'}}"/>
        </a>

        <a class="p-0 nav-link" target="_blank" href="https://www.instagram.com/justinmylesholmes/">
            <img src="{{resolveImage 'social-logos/Instagram_Glyph_Gradient.png' }}"/>
        </a>
        <a class="p-0 nav-link" target="_blank" href="https://www.youtube.com/@vowelsoundmode">
            <img class="mt-2" src="{{resolveImage 'social-logos/youtube_social_icon_red.png' }}"/>
        </a>
    </nav>
</div>
{{#if build_hashes }}
    <ul class="verySmall">
        <li>Build Time: {{ build_time }}</li>
        <li>App: {{ build_hashes.app }}</li>
        <li>Data: {{ build_hashes.data }}</li>
    </ul>
{{/if}}
</body>