{{#if compact}}
    {{> slicey}}
{{else}}
    {{> bigger-banner}}
{{/if}}


    <style>
        #donationModalContainer {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
        }

        #donationModal {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            min-width: 450px;
            background: rgba(255, 255, 255, 0.7);
            border: 2px solid #6c63ff;
            border-radius: 15px;
            box-shadow: 0 10px 16px rgba(0, 0, 0, 0.7);
            padding: 20px;
        }


        .input-group {
            display: flex;
            width: 100%;
            padding: 10px;
            align-items: center;
        }

        #amount {
            flex: 1;
            padding: 10px;
            border-radius: 10px 0 0 10px;
            border: 1px solid #ccc;
        }

        .input-group-addon {
            background-color: #6c63ff;
            color: white;
            padding: 10px 20px;
            border-radius: 0 10px 10px 0;
        }

    </style>


<div id="cryptograss-content" class="container mb-5 gradient-transparent-bg p-4">
    <h1 class="text-light pixel-font text-center mb-3">Mint a set stone</h1>
    <hr/>

    <div id="shapeRenderingArea" style="display: flex; flex-direction: row; flex-wrap: wrap;"></div>

    <p id="verifyResult" class="text-light" style="display: none;"></p>
    <p id="invalidRabbitErrorMessage" style="display: none; color: red;">Invalid secret rabbit</p>

    <div id="showOverview" class="border-bottom border-black pb-3">
        <h1><span class="pixel-font">Show Overview</span></h1>
        <span class="pixel-font">Show name:</span> <b>{{show.title}}</b><br>
        <span class="pixel-font">Venue:</span> <b>{{show.venue}}</b><br>
        <span class="pixel-font">Host:</span> <b>{{show.host}}</b><br>
        <span class="pixel-font">Locality:</span> <b>{{show.locality}}</b><br>
        <span class="pixel-font">Event URL:</span> <a href="{{show.event_url}}">{{show.event_url}}</a><br>
        <span class="pixel-font">Set shapes:</span> <b>{{show.set_shapes}}</b><br>
        <span class="pixel-font">Block height:</span> <b>{{show.blockheight}}</b><br>
        <span class="pixel-font">Artist ID:</span> <b>{{show.artist_id}}</b><br>
        {{!-- <span class="pixel-font">Stone price:</span> <b>{{show.stone_price}}</b><br> --}}
    </div>

    <div id="setlist" class="border-bottom border-black pb-3 mt-5">
        <h1><span class="pixel-font">Setlist</span></h1>

        {{#each show.sets }}
            <h3><span class="pixel-font">Set #{{@index}}</span></h3>

            <ul>
            {{#each this}}
               <li><span style="font-family: 'Courier New', Courier, monospace;">{{@key}}</span>: <span class="pixel-font">{{this.title}}</span></li>
               <ul>
                    <li><span style="font-family: 'Courier New', Courier, monospace;">type:</span> <span class="pixel-font">{{this.type}}</span></li>
               </ul>
               
            {{/each}}
            </ul>

        {{/each}}
    </div>






    <div id="donationModalContainer" class="mt-5">
        <div id="donationModal">
            <span class="pixel-font" style="color: black;"><h2>Strike set stone for this show</h2></span>

            <div id="rabbitHashIconContainer" style="display: flex; flex-direction: row; align-items: center;">
                <div id="rabbitHashIcon" style="padding-right: 10px;"></div>
                <h3>Secret Rabbit Hash:</h3>
            </div>

            <h3 id="rabbithash" style="font-family: 'Courier New', Courier, monospace; word-break: break-all;"></h2>
            {{!-- <div style="display: flex; justify-content: space-between; width: 100%; padding: 10px;">
                    <button class="btn btn-primary" onclick="setAmount(0.05)">0.05</button>
                    <button class="btn btn-primary" onclick="setAmount(0.1)">0.1</button>
                    <button class="btn btn-primary" onclick="setAmount(0.3)">0.3</button>
            </div> --}}

            <div id="mintStoneDetails" style="width: 100%; align-items: left; color: black;">
                <h4><span class="pixel-font">Stone price:</span> <span id="stonePrice" style="font-family: 'Courier New', Courier, monospace;"></span></h4>
            </div>


            <div class="input-group" style="width: 100%; padding: 10px;">
                <input id="amount" type="number" class="form-control" placeholder="Enter the amount">
                <span class="input-group-addon">ETH</span>
            </div>
            {{!-- <button id="verify" class="btn btn-primary" onclick="verifyRabbit()">Verify</button> --}}

            <div style="display: flex; justify-content: space-between; width: 100%; padding: 10px;">
                <button id="makePayment" class="btn btn-primary" style="padding: 10px;" onclick="makePayment()">Make Payment</button>
                <w3m-button></w3m-button>
            </div>

        </div>
    </div>

</div>

<script>

// take the valid hashes out from the rabbit_hashes array
// and put them into a new array
const valid_rabbit_hashes = [
{{#each show.rabbit_hashes}}
    "{{this}}",
{{/each}}
]

const stone_price_wei = {{show.stone_price}}
</script>
